/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* general */
html {
    font-size: 100%;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
.container {
    width: 100%;
    background-color: black;
}
.flex {
    display: flex;
}
.bg-grey {
    background-color: grey;
}
a {
    text-decoration: none;
    color: white;  
}

.btn {
  padding: 0.5em;
  border: 0;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}

/* header */
.view-bar {
    position: fixed;
    width: 100%;
    justify-content: flex-end;
    z-index: 1;
    background-color: black;
}
.view-bar a {
    display: block;
    padding: 5px;
    border-radius: 5px;
    margin: 3px;
}

/* main */
main {
    padding: 50px;
    height: calc(100vh - 100px);
    min-height: 500px;
    flex-wrap: wrap;
    justify-content: center;
    overflow: auto;
}

.user-camera {
    height: 194px;
    width: 259px;
    position: relative;
    margin: 8px 2px;
    background-image: url(../img/graziello.jpg);
    
}
.user-camera .user {
    font-size: 0.8em;
    padding: 5px;
    position: absolute;
    bottom: 2px;
    left: 0;
    opacity: 0.8;
}

.user-camera .user i{
    padding-right: 2px;
}

/* footer */
footer {
  display: flex;
  justify-content: space-between;
  align-items: strech;
  height: 100px;
}
footer .footer-menu {
  display: flex;
  align-items: center;
  height: 100%;
}

footer .footer-menu li {
  display: flex;
  margin: 5px;
}
footer .footer-menu li:hover {
  background-color: grey;
  border-radius: 5px;
}
footer .footer-menu li.doble-btn .btn:first-child {
  margin: 0 10px 0 0;
}
footer .btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: transparent;
}
footer .btn:hover,
footer .btn:active,
footer .btn:focus {
  background-color: rgba(255, 255, 255, 0.5);
}
footer .btn.green i {
  color: green;
}
footer .btn.red {
  height: 100%;
  background-color: grey;
  color: red;
}
footer .footer-right {
  flex-shrink: 0;
}
